/* style.css */


.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    background-color: #1f2937;
}

.logo{
    display: flex;
    width: 70px;
    height: auto;
    padding: 10px 10px 10px 10px;
}

.links{
    display: flex;
    font-family: Arial;
    font-size: 18px;
    gap: 20px;
    padding: 10px 10px 10px 10px;
    align-content: center;
}

.um{
    color: #e5e7eb;
    padding-top: 15px;
}

.dois{
    color: #e5e7eb;
    padding-top: 15px;
}

.tres{
    color: #e5e7eb;
   padding-top: 15px;
}

.content1{
    display: flex;
    justify-content: space-evenly;
    background-color: #1f2937;
    flex-wrap: nowrap;
    align-items: center;
}

.leftside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial;
    padding: 15px 15px 15px 15px;
    height: 250px;
    width: 100%;
    margin: 50px;
    align-content: center;
}

.maintitle{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.subtext{
   font-size: 18px;
   color: #e5e7eb;
}

.rightside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: Arial;
    background-color: #e5e7eb;
    height: 250px;
    width: 100%;
    margin: 50px;
    align-content: center;
}

.desc{
   padding: 20%;
}



.container2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
    height: 200px;
    width: 100%;
    margin-top: 35px;
    align-items: center;
}

.content2{
    display: flex; 
    flex-direction: row;
    gap: 15px;

}

.botoes{
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
}

.maca{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
}
.sub1{
    display: flex;
    height: 80px;
    padding: 5px;
    flex: 1 1 0;
    border: solid red;
    border-radius: 5px;
   
}

.arvere{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
}

.sub2{
    display: flex;
    height: 85px;
    width: 80px;
    padding: 5px;
    flex: 1 1 0;
    border: solid brown;
    border-radius: 5px;
}

.omi{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1f2937;
}
.sub3{
    display: flex;
    height: 80px;
    padding: 5px;
    flex: 1 1 0;
    border: solid salmon;
    border-radius: 5px;
}

