/* styles.css */ 



.container1{
    display: flex;
    flex-flow: nowrap;

}
.navbar{
    display: flex;
    justify-content: space-around;
    background-color: rgb(85,113,83);
    font-family: Arial;
    flex-wrap: nowrap;
    flex-direction: row;
}


.logo{
    
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
    width: auto;
    height: 80px;
    margin: 0px;
}


.links{
    
    display: flex;
    text-align: center;
    justify-content: space-evenly;

    
}


.O1{

    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.O2{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.O3{ 
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.content1{
    
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(125,143,105);
    margin: 2px;
    flex-wrap: nowrap;
    flex-direction: row;

}

.titulo1{
    
    background-color: aquamarine;
    justify-content: left;
}




.content2{

    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: ;
}

.titulo2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.sub1{
    width: auto;
    height: 100px;
    align-items: center;
}

.sub2{
    width: auto;
    height: 100px;
    align-items: center;
}

.sub3{
    width: auto;
    height: 100px;
    align-items: center;
}

.sub-1{
    text-align: left;
}